# GeoCodes Dataset 
____
### Cleaning dataset for States FIPS

In [2]:
import pandas as pd

In [3]:
df_1 = pd.read_excel('../data/csv/state-geocodes-v2019.xlsx')

/Users/silviaresende/.local/lib/python3.8/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [4]:
df_1.head(20)

    Region  Division  State (FIPS)                         Name
0        1         0             0             Northeast Region
1        1         1             0         New England Division
2        1         1             9                  Connecticut
3        1         1            23                        Maine
4        1         1            25                Massachusetts
5        1         1            33                New Hampshire
6        1         1            44                 Rhode Island
7        1         1            50                      Vermont
8        1         2             0     Middle Atlantic Division
9        1         2            34                   New Jersey
10       1         2            36                     New York
11       1         2            42                 Pennsylvania
12       2         0             0               Midwest Region
13       2         3             0  East North Central Division
14       2         3            17                     Illinois
15       2         3            18                      Indiana
16       2         3            26                     Michigan
17       2         3            39                         Ohio
18       2         3            55                    Wisconsin
19       2         4             0  West North Central Division

In [5]:
df_1.to_csv('../data/csv/state-geocodes-v20.csv')

In [6]:
df_1 = df_1.drop(df_1[df_1['State (FIPS)']==0].index)

In [8]:
df_1.head(60).sort_values(ascending=True, by='State (FIPS)')

    Region  Division  State (FIPS)                  Name
39       3         6             1               Alabama
59       4         9             2                Alaska
50       4         8             4               Arizona
44       3         7             5              Arkansas
60       4         9             6            California
51       4         8             8              Colorado
2        1         1             9           Connecticut
29       3         5            10              Delaware
30       3         5            11  District of Columbia
31       3         5            12               Florida
32       3         5            13               Georgia
61       4         9            15                Hawaii
52       4         8            16                 Idaho
14       2         3            17              Illinois
15       2         3            18               Indiana
20       2         4            19                  Iowa
21       2         4            20                Kansas
40       3         6            21              Kentucky
45       3         7            22             Louisiana
3        1         1            23                 Maine
33       3         5            24              Maryland
4        1         1            25         Massachusetts
16       2         3            26              Michigan
22       2         4            27             Minnesota
41       3         6            28           Mississippi
23       2         4            29              Missouri
53       4         8            30               Montana
24       2         4            31              Nebraska
54       4         8            32                Nevada
5        1         1            33         New Hampshire
9        1         2            34            New Jersey
55       4         8            35            New Mexico
10       1         2            36              New York
34       3         5            37        North Carolina
25       2         4            38          North Dakota
17       2         3            39                  Ohio
46       3         7            40              Oklahoma
62       4         9            41                Oregon
11       1         2            42          Pennsylvania
6        1         1            44          Rhode Island
35       3         5            45        South Carolina
26       2         4            46          South Dakota
42       3         6            47             Tennessee
47       3         7            48                 Texas
56       4         8            49                  Utah
7        1         1            50               Vermont
36       3         5            51              Virginia
63       4         9            53            Washington
37       3         5            54         West Virginia
18       2         3            55             Wisconsin
57       4         8            56               Wyoming

In [9]:
df_1.to_csv('../data/csv/fips_state.csv')